.wrapped-ticket-container {
    margin-left: 320px;
    margin-top: 170px;
    font-size: 18px;
    font-family: roboto;
}

.wrapped-ticket-container__wrappedticket {
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 3px 3px 0px #C4C4C4;
    height: 59px;
    margin-bottom: 5px;
    width: 97%;
    color: black;
}
.wrapped-ticket-container__link {
    text-decoration: none;
}
.wrapped-ticket-container__date {
    color: #9c9a9a;
}
.wrapped-ticket-container__checkbox {
    margin-right: 30px;
    transform: scale(2);
}
.wrapped-ticket-container__check-email-container {
    margin-top: 20px;
}
.wrapped-ticket-container__wrappedticket__ticket-descreption{
    font-size:16px;
}