.content-ticket__p-from
{
  
    margin-top: -4px;  
}
.div-cc__p-cc
{
    
      margin-top: -4px;  
}
.div-bcc__p-bcc
{
    
     margin-top: -4px;  
}    
.content-ticket__div-from{
  display: flex;
  margin-left: 80px;
}
.div-cc{
  display: flex;
  margin-left: 80px;
}
.div-bcc{
  display: flex;
  margin-left: 80px;
}
.content-ticket__span-from{
font-size: 11px;
margin-left: 8px;  
}
.div-cc__span-cc{
  font-size: 11px;
  margin-left: 8px;  
  }
  
  .div-bcc__span-bcc{
    font-size: 11px;
    margin-left: 8px;  
    } 
.content-ticket{
  margin: -63px 0 0 291px;
  height: 63px;
}
