.opened-ticket-nav {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  padding: 0 8px;
  overflow: hidden;
}
.opened-ticket-header {
  display: flex;
}

.back-anchor {
  color: var(--main-color,blue) ;
  font-size: 85%;
}

.opened-ticket-subject {
  margin-top: 27px;
  width: 13vw;
}
.nav__opened-ticket-status {
  margin-top: -16px;
  font-family: roboto;
  font-size: 75%;
  color: darkgray;
  display: none;
}
.nav__opened-ticket-status-display {
  display:inline-block;
  margin-top: auto;
}
