.statusdiv {
  display: flex;
  /* margin-left: 10vw; */
}
.pendingDiv {
  display: flex;
  margin-right: 5%;
  text-align: center;
  padding-top: 3vh;
}
.closedDiv {
  display: flex;
  text-align: center;
  padding-top: 3vh;
}
.selected {
  background: var(--main-color, blue);
}
.status {
  margin: 2.5vh 1.5vw;
}
#circle {
  margin-top: 2.2vh;
  margin-left: -0.8vw;
  margin-right: 1vw;
  height: 18.8px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: #c4c4c4;
  padding: 3%;
}
