.opened-ticket-page {
    width: calc(100% - 280px);
    height: 100vh;
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 0;
    right: 0;
    padding: 20px 50px 40px 50px;
    overflow-y: auto;
}