.nav {
    margin-left: 13vw;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}
.homeNav {
    display: flex;
}
.new-ticket-nav {
    display: flex;
}
.Logout {
    margin-left: 65vw;
    font-family: roboto;
    color: #3e3c3c;
  }