.container {
  background: #363936;
  left: 80px;
  height: 100%;
  width: 200px;
  position: fixed;
}

.search-sidebar {
  display: flex;
  flex-direction: column;
  width: 200px;
  position: fixed;
  top: 29%;
}

.searchform {
  height: 4vh;
  border-radius: 0.7%;
  border: none;
  font-family: FontAwesome;
  padding-left: 5px;
  width: 16.2vw;
}

.button {
  height: 4vh;
  margin: 1.8vh 10% 0 10%;
  color: #fff;
  background: #437489;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.7%;
  border: none;
}

.margin {
  margin: 1.5% 10%;
}

.user-select {
  height: 4vh;
  background: #fff;
}

.status-select {
  height: 4vh;
  background: #fff;
}

.label {
  color: #ffffff;
  font-size: 3vh;
}

.searchbar {
  display: flex;
}

.icon-div {
  background: #fff;
  height: 3.4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3vw;
  margin-left: -42px;
  margin-top: 2%;
}